* {
    margin: 0;
    padding: 0;
}
  

html.light-theme body {
    background-color: #F8F8FB;
}

html.dark-theme body {
    background-color: #000;
}

.App {
    // margin-left: 103px;
    max-width: 730px;
    // max-width: 50; //combine this somehow
    margin: 0 auto;
    // border: 1px solid red;
}
