@media screen and (max-width:1000px) {
    .App {
        margin-top: 168px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .banner {
        width: 100vw;
        height: unset;
        border-radius: 0;
        flex-direction: row;

        .bottom-box {
            display: flex;
            align-items: center;
            padding: unset;
            .theme-button-container {
                border-bottom: none;
                border-right: 1px solid #979797;
                padding: 0 33px;
                height: 100%;
                display: flex;
            }

            .avatar {
                padding: 0 33px;
            }

        }
    }

    .form {
        margin-top: 103px;
        padding-left: 58px;
        width: 616px;
    }

    .invoice_items_list {
        ._invoice_list_item {
            .left {
                .__id, .__due_date {
                    margin-right: 27px;
                }
            }
        }
    }

    
}

@media screen and (max-width:647px) {
    .single_page_invoice {

        .flex-container {
            .status-container, .button-container {
                width: 100%;
            }

            .status-container {
                justify-content: space-between;

                .__invoice_status {
                    margin-right: unset;
                }
            }

            .button-container {
                order: 3;
                // position: fixed;
                // bottom: 0;
                // left: 0;
            }
        
            .data-container {
                .first_line {
                    flex-direction: column;

                    .sender_address_container {
                        align-items: flex-start;
                        margin-top: 30px;
                    }
                }

                .second_line {
                    margin-top: 30px;
                    flex-wrap: wrap;

                    .dates {
                        .date-item:not(:first-child){
                            margin-top: 20px;
                        }
                    }

                    .client_email {
                        flex-basis: 100%;
                        margin-top: 30px;
                    }

                }

                .invoice-items-card {
                    margin-top: 50px;
                    .sp-labels {
                        display: none;
                    }

                    .items-container {
                        display: none; //from flex to none
                    }

                    .items-container-mobile {
                        display:flex; //from none to flex
                        justify-content:space-between;
                        align-items:center;
                        margin-bottom:25px;
                        padding:0 32px;
                    }

                }
            }
        }
    }
}