.color-grayblue {
    color:$color-grayblue;
}

.color-gray-dark {
    color:$color-gray-dark;
}

.color-purple-dark {
    color:$color-purple-dark;
}

.card {
    padding: 16px 30px;
    background-color: var(--card-background);
    border-radius: 8px;
}

.phantom-div {
    width: 16px;
    height: 16px;
    opacity: 0;
}

// If we need an overlay over the entire screen
.overlay {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
}