.form {
    border: 1px solid red;

    .form-group {
        padding: 16px 58px;
        input {
            display: inline-block;
            box-sizing: border-box;
            width: 100%;
            border: 1px solid #DFE3FA;
            color: #0C0E16;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: -0.25px;
            padding: 16px 19px;
            font-family: 'Spartan',sans-serif;
            border-radius: 4px;

            &:hover,&:focus {
                outline: 1px solid #9277FF;
            }
        }

        .form-group-inner {
            width: 152px;
        }
    }

    .city-postcode-country {
        display: flex;
        justify-content: space-between;
    }
}