.form {
    background-color: var(--form-background);
    border-radius: 8px;
    width: calc(615px + 103px);
    box-sizing: border-box;
    padding: 58px;
    height: min-content;
    padding-left: calc(103px + 58px);

    .purple-label {
        margin-top: 48px;
    }

    .form-group {
        margin-top: 24px;

        input {
            font-size: 12px;
            line-height: 15px;
            letter-spacing: -0.25px;
            font-family: 'Spartan',sans-serif;
        }
        
        select, input {
            display: inline-block;
            box-sizing: border-box;
            width: 100%;
            padding: 16px 19px;
            border-radius: 4px;
            font-weight: 700;
            border: 1px solid var(--input-border-color);
            background-color: var(--input-background);
            color: var(--default-text-color);
            margin-top: 12px;
            
            &:hover,&:focus {
                outline: 1px solid #9277FF;
            }
        }

        .form-group-inner {
            width: 152px;

        }
    }

    .city-postcode-country {
        display: flex;
        justify-content: space-between;
    }

    .dates {
        display: flex;
        justify-content: space-between;

        .form-group {
            width:240px;
        }
    }

    .items-container {
        display: flex;
        justify-content: space-between;
        margin-top: 18px;
        margin-bottom: 18px;

        input {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: -0.25px;
            font-family: 'Spartan',sans-serif;
            display: inline-block;
            box-sizing: border-box;
            width: 100%;
            padding: 16px 19px;
            border-radius: 4px;
            border: 1px solid var(--input-border-color);
            background-color: var(--input-background);
            color: var(--default-text-color);

            &:hover,&:focus {
                outline: 1px solid #9277FF;
            }
        
        }

        .name ,#name {
            width: 214px;
        }

        .quantity, #quantity {
            width: 48px;
        }

        #quantity {
            padding: 16px 0;
            text-align: center;
        }

        .price, #price {
            width:100px;
        }

        .total, #total {
            width: 48px;
        }

        #total {
            color: #888EB0;
            padding: 16px 0;
            font-weight: 700;
        }

    }

    .button-container {
        display: flex;
        justify-content: space-between;

        &.editing {
            justify-content: flex-end;
        }

        &.editing, &.creatingNew {
            margin-top: 40px;
        }

        .draft {
            margin-right: 8px;
        }
    }
}