// .invoice_items_list {    

    ._invoice_list_item {
        text-decoration: none;
        color: inherit;

        &:visited, &:hover, a:active {
            color: inherit;
        }

        &:not(:first-child), &:not(:last-child) {
            margin: 16px 0;
        }

        &:first-child,&:last-child {
            margin: 0;
        }

        &:hover {
            border: 1px solid #7C5DFA;
            cursor: pointer;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 30px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow:0 10px 10px -10px rgb(72, 84, 159,.1);
        border: 1px solid transparent;

    
        .left {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .__id, .__due_date {
                margin-right: 45px;
            }

            .___id {
                color: #0C0E16!important;
            }

            .__client_name {
                color:#858BB2;
            }

            .__due_date, .__client_name {
                font-weight: 500;
            }
        }
        
        .right {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .__amount {
                margin-right: 40px;
            }

            
        }
    }