.invoice_actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .__action_contols {
        display: flex;
        align-items: center;

        .___filter_container {
            display: flex;
            align-items: center;

            &:hover {
                cursor: pointer;
            }
            
            h4 {
                margin-right: 16px;
            }
        }
    }
}