// .invoice_items_list {

    

    ._invoice_list_item {

        &:not(:first-child), &:not(:last-child) {
            background-color: orange;
            margin: 16px 0;
        }

        &:first-child,&:last-child {
            margin: 0;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid red;

    
        .left {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        
        .right {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }
// }